$light_color: #fff;
$dark_color: #000;
$primary_color: #6A2510;
$secondary_color: #DB3318;
$success_color: #719437;
$body_bgColor: #d9dcdf;
$figcaption_bgColor: #FBF5B7;
$card_header_color: #bf4447;
$span_green: #447F23;
$span_yellow: #FDFF53;
$certificate_bgColor: #FAFCF0;
$certificate_header_color: #32562A;
$order_bgColor: #F5F5F5;
$order_header_color: #61a552;
$input_prompt_bgColor: #DCDEDD;