.article__header {
    color: $secondary_color;
    font-size: 1.35rem;
    line-height: 1.3;
    letter-spacing: 0.7px;

    @media (min-width: 992px) {
        font-size: 1.59375rem;
    }
}

.article__paragraph {
    letter-spacing: -0.4px;
}

.article__image figcaption {
    background-color: $figcaption_bgColor;
}