.span__paragraph:last-of-type {
    margin-top: -8px;

    @media (min-width: 992px) {
        margin-top: -5px;
    }
}

.span__yellow,
.span__green {
    letter-spacing: -1.5px;
    line-height: 1.9;

    @media (min-width: 992px) {
        line-height: 1.75;
    }

    @media (max-width: 991px) {
        font-size: 22px;
    }
}

.span__yellow {
    background-color: $span_yellow;
    color: $secondary_color;
}

.span__green {
    background-color: $span_green;
    color: $span_yellow;
}